<%- include('../layout/admin/admin_header.ejs')  %> 
<%- include('../admin/navbar.ejs')  %> 
<%- include('../admin/sidebar.ejs')  %> 


<main id="main" class="main">

    <div class="pagetitle">
      <h1>General Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">General</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
  
    <section class="section">
      <div class="row">
  
        <div class="col-lg-12">
  
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Order details</h5>
  
              <table class="table table-bordered border-primary">
                <thead>
                  <tr>
                    <th scope="col">OrderId</th>
                    <th scope="col">Username</th>
                    <th scope="col">Ordered on</th>
                    <th scope="col">Delivery Address</th>
                    <th scope="col">Products</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total product amount</th>
                    <th scope="col">Bill amount</th>
                  </tr>
                </thead>
                <tbody>
                    
                        <tr>
                          <td><%= orderData.orderId %></td>

                          <td><%= orderData.userId.userName %></td>

                          <% const date = orderData.date %>
                          <td><%= moment(date).format('MMMM Do YYYY, h:mm:ss a') %></td>

                          <td><%= orderData.deliveryAddress %></td>

                          <td><% orderData.product.forEach((product) =>{ %>
                           <ul>
                            <li>
                                <p><%= product.productId.name %></p>
                            </li>
                           </ul>
                          <% }) %>
                          </td>

                          <td><% orderData.product.forEach((product) =>{ %>
                            <ul>
                                <li>
                                    <p><%= product.quantity %></p>
                                </li>
                            </ul>
                          <% }) %>
                          </td>

                          <td><% orderData.product.forEach((product) =>{ %>
                            <ul>
                                <li>
                                    <p><%= product.price %></p>
                                </li>
                            </ul>
                          <% }) %>
                          </td>

                          <td><% orderData.product.forEach((product) =>{ %>
                            <ul>
                                <li>
                                    <p><%= product.productTotalAmount %></p>
                                </li>
                            </ul>
                          <% }) %>
                          </td>
                          <td><%= orderData.total %></td>
                        </tr>
                 
                </tbody>
              </table>
  
            </div>
          </div>
        </div>
      
    </section>
  
  </main><!-- End #main -->




<%- include('../layout/admin/admin_footer.ejs')  %> 
