<%- include('../layout/user/user_header.ejs') %>
<%- include('../user/user_nav.ejs') %>


<% const inFormat = new Intl.NumberFormat('en-IN' , {style : 'currency' , currency : 'INR'})  %>
<section style="background-color: #eee;" >
    <div class="container py-5" id="reloadSection">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>
        </div>
      </div>
  
      <div class="row">
        
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <h6 class="my-3">Hi</h6>
              <h5 class="my-3" style="color : blueviolet;"><%= userData.userName %></h5>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body text-center">

              <div class="row">
                  <div class="col p-2">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Change password
                    </button>
                  </div>
              </div>
              <hr>
              <div class="row">
                  <div class="col p-2">
                      <a href="/viewAddresses">Manage your addresses</a>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Button trigger modal -->
        
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                <form action="/changePassword" method="post" id="passForm">

                  <div class="mb-3">
                    <label for="currentPasswordId" class="form-label">Current password</label>
                    <input type="password" class="form-control" id="currentPasswordId" aria-describedby="emailHelp" name="currentPassword">
                    <label for="showCheckbox">show password</label>
                    <input type="checkbox" class="" id="showCheckbox" onchange="changeVisibiliy()">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">New password</label>
                    <input type="password" class="form-control" id="newPass" name="newPassword">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword2" class="form-label">Re-enter new password</label>
                    <input type="password" class="form-control" id="rePass" >
                  </div>
                  <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="modalButton" class="btn btn-primary">Save changes</button>
                  </div>

                </form>
                <div class="alert alert-warning" role="alert" style="display: none;" id="errorAlert">
                  
                </div>
                
              </div>
              
            </div>
          </div>
        </div>


        <div class="col-lg-8">
            
    

            <div class="card mb-4 shadow-sm">
              <div class="card-body py-5">
                <div class="wrapper">
                  <div class="row mb-3 d-flex justify-content-center">
                    <div class="col-sm-3">
                      <div class="field-wrapper shadow p-3 rounded text-start ">
                        <p class="mb-0">First name :</p>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="field-wrapper shadow p-3 rounded text-start ">
                        <p class="text-muted mb-0">
                          <%= userData.firstName %>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3 d-flex justify-content-center">
                    <div class="col-sm-3">
                      <div class="field-wrapper shadow p-3 rounded text-start ">
                        <p class="mb-0">Last name :</p>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="field-wrapper shadow p-3 rounded text-start ">
                        <p class="text-muted mb-0">
                          <%= userData.lastName %>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3 d-flex justify-content-center">
                    <div class="col-sm-3">
                      <div class="field-wrapper shadow p-3 rounded text-start ">
                        <p class="mb-0">User name :</p>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="field-wrapper shadow p-3 rounded text-start ">
                        <p class="text-muted mb-0">
                          <%= userData.userName %>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3 d-flex justify-content-center">
                    <div class="col-sm-3">
                      <div class="field-wrapper shadow p-3 rounded text-start ">
                        <p class="mb-0">Email :</p>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="field-wrapper shadow p-3 rounded text-start ">
                        <p class="text-muted mb-0">
                          <%= userData.email %>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3 d-flex justify-content-center">
                    <div class="col-sm-3">
                      <div class="field-wrapper shadow p-3 rounded text-start ">
                        <p class="mb-0">Phone :</p>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="field-wrapper shadow p-3 rounded text-start ">
                        <p class="text-muted mb-0">
                          <%= userData.phone %>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row d-flex justify-content-center">
                    <div class="col-sm-3">
                      <div class="field-wrapper shadow p-3 rounded text-start ">
                        <p class="mb-0">Wallet amount :</p>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="field-wrapper shadow p-3 rounded text-start ">
                        <p class="text-success fw-semibold mb-0">
                          <%= inFormat.format(userData.walletAmount) %>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
          
          
        </div>
        
        
      </div>
    </div>
  </section>

  <script>

    $(document).ready(() =>{
      const inputs = document.querySelectorAll('form input')
      console.log('this is inputs' , inputs);
      
    })

    function changeVisibiliy () {
      const input = document.getElementById('currentPasswordId')
      console.log('this is input in change' , input);
      const checkboxButton = document.getElementById('showCheckbox')
      if(checkboxButton.checked){
        input.type = 'text'
      }else{
        input.type = 'password'
      }
    }

    const form = document.getElementById('passForm')
    form.addEventListener('submit' , (event) =>{
      event.preventDefault()
      const inputs = document.querySelectorAll('form input')
      let nullField = false
      for(let i = 0 ; i < inputs.length; i ++){
        if(inputs[i].value == ""){
          nullField = true
          $('#errorAlert').attr({style : 'display : block ; color : red'}).html("Please fill all the fields")
          setTimeout(() =>{
            $('#errorAlert').hide()
          } , 2000)
        }
      }
      if(!nullField){
        console.log(`form submitted`)
        const formData = new FormData(form)
        const url = '/changePassword'
        fetch(url ,
          {
            method : 'POST',
            headers : {'Content-Type' : 'application/json'},
            body : JSON.stringify(Object.fromEntries(formData)),
          }
        )
        .then(async (response) =>{
          const data = await response.json()
          if(data.message){
            
            Swal.fire({
              position: 'bottom-end',
              icon: 'success',
              title: data.message,
              showConfirmButton: false,
              timer: 2000
            })
            form.reset()
            $('#exampleModal').modal('hide')
          }else{
            $('#errorAlert').attr({style : 'display : block'}).html(data.error)
            setTimeout(() =>{
              $('#errorAlert').hide()
            } , 1500)
          }
        })
        .catch((error) =>{
          console.log(error);
        })
      }
    })

    /*------Preventing the escape closing of modal-----*/
    $(document).ready(function () {
        $('#exampleModal').modal({
            backdrop: 'static',
            keyboard: false
        });
    });
    
  </script>

  <%- include('../layout/user/user_footer.ejs') %>























<%- include('../layout/user/user_footer.ejs') %>