<!-- Header -->
<header class="header-v2">
    <!-- Header desktop -->
    <div class="container-menu-desktop trans-03">
        <div class="wrap-menu-desktop">
            <nav class="limiter-menu-desktop p-l-45">
                
                <!-- Logo desktop -->		
                <a href="#" class="logo">
                    <img src="/images/pedals-black.png" alt="IMG-LOGO">
                </a>

                <!-- Menu desktop -->
                
                <div class="main-desktop">
                    <ul class="main-menu">

                        <li>
                            <a href="/">HOME</a>
                        </li>

                        <li>
                            <a href="/">BIKES</a>
                            
                            <ul class="sub-menu">
                                <% catData.forEach(catData =>{ %>
                                <li><a href="/viewAllProducts/<%= catData._id %>"> <%= catData.name %></a></li>
                                <% }) %>
                            </ul>
                            
                            <span class="arrow-main-menu-m">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </span>
                        </li>
        
                    </ul>
                </div>
            
                
                

                <!-- Icon header -->
                <div class="wrap-icon-header flex-w flex-r-m h-full">

                    <div class="flex-c-m h-full p-r-24">
                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11">
                            <i class="zmdi zmdi-search"></i>
                        </div>
                    </div>
                        
                    <div class="flex-c-m h-full p-l-18 p-r-25 bor5">
                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti js-show-cart" data-notify="2">
                            <i class="zmdi zmdi-shopping-cart"></i>
                        </div>
                    </div>
                        
                    <div class="flex-c-m h-full p-lr-19">
                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 js-show-sidebar">
                            <i class="zmdi zmdi-menu"></i>
                        </div>
                    </div>
                </div>
            </nav>
        </div>	
    </div>

    <!-- Header Mobile -->
    <div class="wrap-header-mobile">
        <!-- Logo moblie -->		
        <div class="logo-mobile">
            <a href="index.html"><img src="/images/pedals-black.png" alt="IMG-LOGO"></a>
        </div>

        <!-- Icon header -->
        <div class="wrap-icon-header flex-w flex-r-m h-full m-r-15">
            <div class="flex-c-m h-full p-r-10">
                <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 js-show-modal-search">
                    <i class="zmdi zmdi-search"></i>
                </div>
            </div>

            <div class="flex-c-m h-full p-lr-10 bor5">
                <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti js-show-cart" data-notify="2">
                    <i class="zmdi zmdi-search"></i>
                </div>
            </div>
            <div class="flex-c-m h-full p-lr-10 bor5">
                <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti js-show-cart" data-notify="2">
                    <i class="zmdi zmdi-shopping-cart"></i>
                </div>
            </div>
        </div>

        <!-- Button show menu -->
        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </div>
    </div>


    <!-- Menu Mobile -->
    <div class="menu-mobile">
        <ul class="main-menu-m">
            <a href="/">HOME</a>
        </ul>
        
        <ul class="main-menu-m">
            <li>
                <a href="">BIKES</a>
                <ul class="sub-menu-m">
                    <li><a href="/mountainbikes">Mountain bikes</a></li>
                    <li><a href="home-02.html">Hybrid bikes</a></li>
                    <li><a href="home-03.html">Kids bikes</a></li>
                </ul>
                <span class="arrow-main-menu-m">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
            </li>

        </ul>
        
    </div>

    
</header>

<!-- Sidebar -->
<aside class="wrap-sidebar js-sidebar">
    <div class="s-full js-hide-sidebar"></div>

    <div class="sidebar flex-col-l p-t-22 p-b-25">
        <div class="flex-r w-full p-b-30 p-r-27">
            <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-sidebar">
                <i class="zmdi zmdi-close"></i>
            </div>
        </div>

        <div class="sidebar-content flex-w w-full p-lr-65 js-pscroll">
            <ul class="sidebar-link w-full">
                <li class="p-b-13">
                    <a href="/" class="stext-102 cl2 hov-cl1 trans-04">
                        Home
                    </a>
                </li>

                <li class="">
                    <a href="/viewWishlist" class="stext-102 cl2 hov-cl1 trans-04">
                        My Wishlist
                    </a>
                </li>

                <% if (typeof userName !== 'undefined') { %>
                    <ul class="mx-0 my-0 main-menu">
                    
                        <li class="mx-0 my-0 active-menu">
                            <a href="/userProfile" class="stext-102 cl2 hov-cl1 trans-04">
                                <%= userName %>
                            </a>
                            <ul class="sub-menu my-0">
                                <li><a href="/userLogout">Logout</a></li>
                                
                            </ul>
                            
                        </li>

                    </ul>
                <% } else{%>
                    <ul class="mx-0 my-0 main-menu">
                    
                        <li class="mx-0 my-0 active-menu">
                            <a href="/userLogin" class="stext-102 cl2 hov-cl1 trans-04">
                                Account
                            </a>
                            <ul class="sub-menu my-0">
                                <li><a href="/userLogout">Logout</a></li>
                                
                            </ul>
                            
                        </li>

                    </ul>
                <% }%>

                
                
                
                
            </ul>

        </div>
    </div>
</aside>


<!-- Cart -->
<div class="wrap-header-cart js-panel-cart">
    <div class="s-full js-hide-cart"></div>

    <div class="header-cart flex-col-l p-l-65 p-r-25">
        <div class="header-cart-title flex-w flex-sb-m p-b-8">
            <span class="mtext-103 cl2">
                Your Cart
            </span>

            <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                <i class="zmdi zmdi-close"></i>
            </div>
        </div>
        
        <div class="header-cart-content flex-w js-pscroll">
            <%if (typeof cartData !== 'undefined') { %>
                <ul class="header-cart-wrapitem w-full">
                    <% cartData.cart.forEach((element) =>{ %>
                        <li class="header-cart-item flex-w flex-t m-b-12">
                            <div class="header-cart-item-img">
                                <img src="/product_images/<%= element.productId.images[0] %>" alt="IMG">
                            </div>
        
                            <div class="header-cart-item-txt p-t-8">
                                <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                    <%= element.productId.name %>
                                </a>
        
                                <span class="header-cart-item-info">
                                    <%= element.productId.price %> X <%= element.quantity%>
                                </span>
                            </div>
                        </li>
                    <% }) %>
                </ul>
            <% } %>
            
            <div class="w-full">

                <% if(typeof cartData !== 'undefined') { %>
                    <div class="header-cart-total w-full p-tb-40">
                        Cart total : Rs.<%= cartData.totalCartAmount %>
                    </div>
                <% } %>
                
                <div class="header-cart-buttons flex-w w-full">
                    <a href="/viewCart" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                        View Cart
                    </a>

                    <a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
                        Check Out
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>